### Documentation available at https://wodby.com/docs/stacks/wordpress/local
### Changelog can be found at https://github.com/wodby/docker4wordpress/releases
### Images tags format explained at https://github.com/wodby/docker4wordpress#images-tags

### PROJECT SETTINGS

PROJECT_NAME=itron
PROJECT_BASE_URL=devitron.loc
WP_TITLE="Local Devitron Site"
WP_ADMIN=admin
WP_ADMIN_PASS=admin
WP_ADMIN_EMAIL=box@example.com

DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_ROOT_PASSWORD=password
DB_HOST=mysql

### PHP

PHP_TAG=7.4
